
<a routerLink="/orphanUsers" class="back-button">
    <mat-icon>arrow_back</mat-icon> Back
</a>


<h4 appearance="fill" class="select-field">Selecciona la organización a la que deseas agregar al usuario</h4>
            <mat-form-field appearance="fill" class="select-field">
                <mat-label>Organización</mat-label>
                <mat-select (selectionChange)="addUser($event.value)" >
                    <mat-option *ngFor="let org of organizationList" [value]="org.organizationId">
                        {{ org.organizationName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
