.back-button {
    position: absolute; /* Mantener la posición absoluta */
    left: 30px; /* Distancia desde el lado izquierdo */
    top: 138px; /* Aumentar el espacio desde la parte superior */
    display: flex; /* Permitir alinear el icono y el texto */
    align-items: center; /* Centrar verticalmente el texto */
    padding: 10px 15px; /* Espaciado interno */
    background-color: #f44336; /* Fondo rojo */
    color: white; /* Color del texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Eliminar subrayado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: background-color 0.3s; /* Transición suave */
}

.back-button:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}

/* Título de la sección */
.section-title {
    font-family: 'Aileron', sans-serif;
    font-size: 35px; /* Tamaño del texto */
    text-align: center; /*alineacion del texo*/
    font-weight: bold; 
    margin: 10px 0;
    padding-top: 50px; /*Espacio superior del texto*/
    padding-bottom: 50px; /* Espacio debajo del texto */
    /* border-bottom: 2px solid #414040; Línea sutil debajo del texto */
    border-radius: 10px; 
    background-color: #e0e0e0;
}

.selected-field{
    font-family: 'Aileron', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0; 
}

.user {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #333;
}