<body class="login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <a class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
          <h1 class="mb-0">
            <b>Skillify</b>
          </h1>
        </a>
      </div>
      <!-- Formulario con ngSubmit -->
      <form class="card-body login-card-body" (ngSubmit)="onSubmit()">
        <p class="login-box-msg">Ingresa tus datos para iniciar sesión</p>
        <!-- Email Input -->
        <div class="input-group mb-1">
          <div class="form-floating">
            <input id="loginEmail" type="email" class="form-control" placeholder="username" [(ngModel)]="username" name="username" required />
            <label for="loginEmail">Username</label>
          </div>
          <div class="input-group-text">
            <span class="bi bi-person-circle"></span>
          </div>
        </div>

        <!-- Password Input -->
        <div class="input-group mb-1">
          <div class="form-floating">
            <input id="loginPassword" type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required />
            <label for="loginPassword">Password</label>
          </div>
          <div class="input-group-text">
            <span class="bi bi-lock-fill"></span>
          </div>
        </div>


        <div class="row">
          <!-- Sign In Button -->
          <div class="col-15">
            <div class="d-grid gap-2 mx-auto">
              <button type="submit" class="btn btn-primary bi bi-box-arrow-in-right ">  Entrar</button>
            </div>
          </div>
        </div>

        <!-- Social Login Links -->
        <div class="social-auth-links text-center mb-3 d-grid gap-2">
          <p>- O -</p>
          <a href="javascript:void(0)" class="btn btn-secondary" (click)="loginWithMicrosoft()">
            <i class="bi bi-microsoft me-2"></i> Entrar con Microsoft
          </a>
          <a href="javascript:void(0)" class="btn btn-danger" (click)="loginWithGoogle()">
            <i class="bi bi-google me-2"></i> Entrar con Google
          </a>
        </div>
      </form>
    </div>
  </div>
</body>

