/* Asegúrate de que el body no tenga márgenes ni relleno */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Asegúrate de que la caja de login esté centrada */
.login-box {
  width: 100%; /* Para que ocupe todo el ancho disponible */
  max-width: 400px; /* maximo de ancho */
  padding: 20px; /* Espaciado interno */
  margin: 0; /* margen */
  border-radius: 10px; /* Esquinas redondeadas */
}

.login-page {
  background-color: white;
}