:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.mat-sidenav-container {
    height: 100%;
    width: 100%;
}

.mat-sidenav-content {
    padding: 0;
    margin: 0;
}

.mat-sidenav {
    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
}
