:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

mat-sidenav-container {
  border: none;  /* Elimina cualquier borde */
  margin: 0;  /* Elimina cualquier margen */
  padding: 0;  /* Elimina cualquier padding */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}


.mat-sidenav-content {
    padding: 0;
    margin: 0;
}

.mat-sidenav {
    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
}


.sidenav-title {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
  }
  
  .sidenav-item {
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
  }
  
  .sidenav-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light background on hover */
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .sidenav-icon {
    margin-right: 8px; /* Space between icon and text */
    transition: transform 0.3s ease; /* Added transition for icon */
  }
  
  .sidenav-item:hover .sidenav-icon {
    transform: rotate(20deg); /* Rotate icon on hover */
  }
  
  .sidenav-item a {
    display: flex; /* Align icon and text */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  .sidenav-item a:hover {
    color: #1976d2; /* Change text color on hover */
  }
  
  router-outlet {
    margin: 0;
    padding: 0;
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 100%; /* Asegura que ocupe toda la altura */
  }
  